@model Z_Hunger.EF.CollectionRequest
@{
    Layout = "~/Views/Shared/_NGOL.cshtml";
    ViewBag.Title = "AcceptRequest";
}

<h2>AcceptRequest</h2>
<span>Send request to an Employee for collect food from Restaurant**</span>
<br />
<br />

@using (Html.BeginForm("AcceptRequest", "NGO", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-group">
    @Html.LabelFor(model => model.EmployeeID, "Select Employee:")
    @Html.DropDownListFor(model => model.EmployeeID, (IEnumerable<SelectListItem>)ViewBag.EmployeeList, "Select an Employee", new { @class = "form-control" })
    
    @Html.ValidationMessageFor(model => model.EmployeeID, "", new { @class = "text-danger" })
</div>

    @Html.HiddenFor(model => model.CollectionRequestID)
    @Html.HiddenFor(model => model.IteamName)
    @Html.HiddenFor(model => model.CreationTime)
    @Html.HiddenFor(model => model.ExpiredTime)
    @Html.HiddenFor(model => model.RestaurantID)
    @Html.HiddenFor(model => model.Status)

    <button type="submit" class="btn btn-danger">Accept</button>
    <a href="/ngo/index" class="btn btn-primary">Cancel</a>
}
